@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold.woff') format('woff'),
         url('fonts/OpenSans-Bold.ttf') format('truetype'),
         url('fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('fonts/OpenSans-Regular.ttf') format('truetype'),
            url('fonts/OpenSans-Regular.woff') format('woff'),
            url('fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;        
}

p {
    font-family: OpenSans;
    font-weight: 501;
    font-size: 30px;
}